<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javalab.dao.LoginDao">
  <select id="getUserById" parameterType="User" resultType="User">
  	select * from user_tbl where id = #{id} and pwd = #{pwd}
  </select>
</mapper>
<!-- mapper가 연결자 역할을 하는 거임. -->
